<fieldset id="références_produits" class="">
  <legend>Références Produits</legend>
  
  <%= form_for(@order) do |f| %>
    <%= f.error_messages%>
       <table>
          <tr>
            <th>Référence</th>
            <th>Désignation</th>
            <th>Quantité</th>
            <th>Stock</th>
            <th>Prix Total</th>
            <th>Remove</th>
          </tr>
        <% index = 0 %>
        <%= f.fields_for :line_orders do |builder| %>
          <%=render :partial => 'line_orders/fields', :locals => { :builder => builder }%>
          <% index += 1 %>
        <% end %>

      </table>
      
      <%#=link_to "Ajouter Référence", '#', :remote => true, :class => :add_order_line_order%>
      <%= f.submit "Modifier" %>
      <%= f.submit "Valider et envoyer" %>
      
  <% end %>
  
  
</fieldset>


<% content_for :javascript do %>
	<script type="text/javascript">
	
	$(function(){   
	  
    // $( ".ref_name" ).combobox();
    
    //Change desired quantity
    $(".quantity").change(function(){
      var price = $(this).parents("tr.line_order").children("td.price").children('input');
      var id = $(this).parents("tr.line_order").children("td").children("select.ref_id").attr("value");
      var quantity = $(this).attr("value");
      
      $.getJSON( '/references/'+id, function(data){
        price.attr("value", data.price * quantity);
      });
    });
    
	   //Choose a reference by id or by name, change quantity
    $("select.ref_id, select.ref_name").change(function(){
      var id = $(this).attr("value");
      var ref = $(this).parents("tr.line_order").children("td").children("select.ref_id");
      var name = $(this).parents("tr.line_order").children("td").children("select.ref_name");
      var stock = $(this).parents("tr.line_order").children("td.ref_stock").children("input");
      var price = $(this).parents("tr.line_order").children("td.price").children("input");
      var quantity = $(this).parents("tr.line_order").children("td").children("input.quantity");
      
      quantity.attr("value", 0);
      if(id === ""){
        name.attr("value", "");
        ref.attr("value", "");
        stock.attr("value","");
        price.attr("value","");
      }else{
        $.getJSON( '/references/'+id, function(data){
            name.attr("value", id);
            ref.attr("value", id);
            
            price.attr("value", data.price * quantity.attr("value"));
          });
        $.getJSON( '/stocks/'+id, function(data){
            stock.attr("value", data.stock.quantity);
          });
      }
      
    });
  
  });
  
	
	</script>
<% end %>