<% nested_form_for(@order) do |f| %>
  <%= f.error_messages%>
     <table>
        <tr>
          <th>Référence</th>
          <th>Désignation</th>
          <th>Quantité</th>
          <th>Stock</th>
          <th>Prix Total</th>
          <th>Remove</th>
        </tr>
      <% index = 0 %>
      <% f.fields_for :line_orders do |builder| %>
    
        <tr class="line_order">
          <td ><%#= builder.collection_select :reference_id, @stocks, :reference_id, :reference_id, {:include_blank => true}, {:class => "ref_id"} %>
            <%= builder.collection_select :reference_id, @stocks, :reference_id, :reference_id, {:include_blank => true}, {:class => "ref_id"} %>
          </td>
          <td>
            <!-- <div class="ui-widget"> -->
              <%= builder.collection_select :reference_id, @stocks, :reference_id, :reference_name, {:include_blank => true}, {:class => "ref_id"} %>
              <%#= select_tag "references_name[#{index}]", options_from_collection_for_select(@stocks, :reference_id, :reference_name), :include_blank => true, :class => "ref_name" %>
            <!-- </div> -->
          </td>
          <td class><%= builder.number_field :quantity, :class => "quantity", :size => 5 %></td>
          <td class="ref_stock"> <%= builder.number_field :stock, :disabled => true, :size => 5 %></td>
          <td class="price"><%= builder.number_field :total, :readonly => true, :size => 5 %> </td>
          <%# hidden_field_tag "line_number[#{index}]", %>
          <td> 
          <%#= builder.link_to_remove "X" %></td>
        </tr>
        
        <% index += 1 %>
      <% end %>

    </table>
    
    <%= f.submit "Valider" %>
<% end %>

<% content_for :javascript do %>
	<script type="text/javascript">
	
	$(function(){   
	  
    // $( ".ref_name" ).combobox();
    
    //Change desired quantity
    $(".quantity").change(function(){
      var price = $(this).parents("tr.line_order").children("td.price").children('input');
      var id = $(this).parents("tr.line_order").children("td").children("select.ref_id").attr("value");
      var quantity = $(this).attr("value");
      
      $.getJSON( '/references/'+id, function(data){
        price.attr("value", data.price * quantity);
      });
    });
    
	   //Choose a reference by id or by name, change quantity
    $("select.ref_id, select.ref_name").change(function(){
      var id = $(this).attr("value");
      var ref = $(this).parents("tr.line_order").children("td").children("select.ref_id");
      var name = $(this).parents("tr.line_order").children("td").children("select.ref_name");
      var stock = $(this).parents("tr.line_order").children("td.ref_stock").children("input");
      var price = $(this).parents("tr.line_order").children("td.price").children("input");
      var quantity = $(this).parents("tr.line_order").children("td").children("input.quantity");
      
      quantity.attr("value", 0);
      if(id === ""){
        name.attr("value", "");
        ref.attr("value", "");
        stock.attr("value","");
        price.attr("value","");
      }else{
        $.getJSON( '/references/'+id, function(data){
            name.attr("value", id);
            ref.attr("value", id);
            
            price.attr("value", data.price * quantity.attr("value"));
          });
        $.getJSON( '/stocks/'+id, function(data){
            stock.attr("value", data.stock.quantity);
          });
      }
      
    });
  
  });
  
	
	</script>
<% end %>

<!-- <%#= form_for(@order) do |f| %>
  <%# if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <%# @order.errors.full_messages.each do |msg| %>
        <li><%#= msg %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %>

  <div class="field">
    <%#= f.label :name %><br />
    <%#= f.text_field :name, :size => 40 %>
  </div>
  <div class="field">
    <%#= f.label :address %><br />
    <%#= f.text_area :address, :rows => 3, :cols => 40 %>
  </div>
  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, :size => 40 %>
  </div>
  <div class="field">
    <%#= f.label :pay_type %><br />
    <%#= f.select :pay_type, Order::PAYMENT_TYPES,
    :prompt => 'Select a payment method' %>
  </div>
  <div class="actions">
    <%#= f.submit 'Place Order' %>
  </div>
<%# end %> -->
