<h1>Liste des commandes en cours</h1>

<% @orders_grouped_by_state.each do |state, orders|%>
  <fieldset>
    <legend><%= state %></legend>
    
    <table>
      <tr>
        <th> Référence </th>
        <th colspan="2"> Fournisseur</th>
        <th> Nombre d'article </th>
        <th> Prix </th>
      </tr>
      <% orders.each do |order| %>
        <tr>
          <td><%= order.validated? ? link_to (order.id, order) : link_to (order.id, edit_order_path(order)) %> </td>
          <td><%= order.receiver.id %> </td>
          <td><%= order.receiver.name %> </td>
          <td><%= order.number_of_articles %></td>
          <td><%= number_to_currency(order.price, :unit => "€", :delimiter => " ", :format => "%n%u") %> </td>
        </tr>
      <% end %>
    </table>
    
  </fieldset>
<% end %>

