<%= render "header"%>

<fieldset>
  <legend>Contenu</legend>
  
  <table>
    <tr>
      <th>Référence</th>
      <th>Désignation</th>
      <th>Quantité</th>
      <th>Prix Unitaire</th>
      <th>Prix Total</th>
    </tr>
  <% @order.line_orders.each do |lo|%>
    <tr>
      <td><%= lo.reference.id %></td>
      <td><%= lo.reference.name %></td>
      <td><%= lo.quantity %></td>
      <td><%= number_to_currency(lo.reference.price, :unit => "€", :delimiter => " ", :format => "%n%u") %></td>
      <td><%= number_to_currency(lo.total, :unit => "€", :delimiter => " ", :format => "%n%u") %></td>
    </tr>
  <% end %>
  
</fieldset>



