<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "jquery-ui-1.8.13.custom"%>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'jquery', 'nested_form' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  
  
  <body> 
    <div class="en-tete">
			<div class="en-tete1">
				<div class="logo">
					<a href="accueil.html">
						<img src="images/logo.jpg">
					</a>
				</div>
				<div class="recherche">
					<form>
						<input type="text" name="rechercher" id="rechercher" tabindex="25" value="Rechercher" />
						<input type="submit" />
					</form>
				</div>
			</div>
			<div class="en-tete2">
				<div class="banniere">
					<img src="/images/banniere.jpg">
				</div>
				<div class="sous-titre">
				  <%= link_to "Accueil", root_path, :class => "liensSous-titre"%>
					<a class="liensSous-titre" href="promos.html">Promos</a>
					<a class="liensSous-titre" href="recettes.html">Recettes</a>
					<a class="liensSous-titre" href="quisommesnous.html">Qui sommes-nous?</a>
					<a class="liensSous-titre" href="contact.html">Contact</a>
			  </div>
			</div>
			<div class="en-tete3">
			  <div class="identification">
			    <% unless user_signed_in? %>
          
  					<h1>Connexion</h1>
  					<%= form_for("user", :url => user_session_path) do |f| %>
  						<table>
  							<tr>
  								<td><%= f.label :email, "Identifiant" %></td>
  								<td><%= f.text_field :email, :id => "identifiant", :size => 23 %></td>
  							</tr>
  							<tr>
  								<td><%= f.label :password, "Mot de Passe" %></td>
  								<td><%= f.password_field :password, :id => "motdepasse", :size => 23 %></td>
  							</tr>
  						</table>
  						<tr>
  							<%= f.submit 'se connecter' %>
  						</tr>
  					<% end %>
  					<p>
  						<%= link_to "Mot de passe oublié ?", new_password_path('user') %>
  					</p>
  					<p>
  						<%= link_to "Créer un compte", new_user_registration_path %>
  					</p>
  			  <% end %>
  			  <p><%= link_to "Se déconnecter", destroy_user_session_path%></p>
  			</div>
			</div>
		</div>
		<div id="menu">
      
			<ul class="niveau1">
			  <% if !user_signed_in? || current_user.user?%>
  				<li class="sousmenu"><a href="#">Pays</a>
  					<ul class="niveau2">
  						<li><a href="#">Italie</a></li>
  						<li><a href="#">France</a></li>
  						<li><a href="#">Espagne</a></li>
  						<li><a href="#">Turquie</a></li>
  						<li><a href="#">Maroc</a></li>
  						<li><a href="#">Brésil</a></li>
  						<li><a href="#">Colombie</a></li>
  						<li><a href="#">Chine</a></li>
  						<li><a href="#">Japon</a></li>
  						<li><a href="#">Inde</a></li>
  					</ul>
  				</li>
  				<li class="sousmenu"><a class="sousmenus" href="#">Régions</a>
  					<ul class="niveau2">
  						<li><a href="#">Europe de l'Ouest</a></li>
  						<li><a href="#">Europe de l'Est</a></li>
  						<li><a href="#">Asie</a></li>
  						<li><a href="#">Afrique</a></li>
  						<li><a href="#">Amérique du Sud</a></li>
  						<li><a href="#">Amérique du Nord</a></li>
  						<li><a href="#">Océanie</a></li>
  					</ul>
  				</li>
  				<li class="sousmenu"><a class="sousmenus" href="#">Producteurs</a>
  					<ul class="niveau2">
  						<li><a href="#">Bala Leroux</a></li>
  						<li><a href="#">Olia</a></li>
  						<li><a href="#">La Belle Iloise</a></li>
  					</ul>
  				</li>
  			<% else %>
            <% if user_signed_in? %>
              <% if current_user.achat? %>
                <li class="sousmenu"><%= link_to "Etat des stocks", stocks_path, :class => "sousmenus" %></li>
                <li class="sousmenu"><%= link_to "Passer une commande", new_order_path, :class => "sousmenus"  %></li>
                <li class="sousmenu"><%= link_to "Commandes en cours", orders_path, :class => "sousmenus" %></li>
                <li class="sousmenu"><%= link_to "Définir des alertes", edit_multiple_stocks_path, :class => "sousmenus" %></li>
              <% elsif current_user.logistique? %>
                <li class="sousmenu"><%= link_to "Admission Commande", new_reception_path, :class => "sousmenus" %></li>
              <% elsif current_user.siege?%>
                <li class="sousmenu"><%= link_to 'Ajouter Réference', new_reference_path, :class => "sousmenus" %></li>
              <% elsif current_user.marketing?%>
                <li class="sousmenu"><%= link_to "Valider Références", edit_bulk_validate_stocks_path, :class => "sousmenus" %></li>
              <% end %>
            <% end %>
				<% end %>
			</ul>
		</div>
		<div class="panneau-droit">
		  <% if user_signed_in? && current_user.user?%>
  			<div class="panier">
  			  <%= render @cart%>
  			</div>
			<% end %>
			<div class="promo">
				<a href="promo1.html">
					<img src="images/promo1.jpg">
				</a>
			</div>
			<div class="promo">
				<a href="promo2.html">
					<img src="images/promo2.jpg">
				</a>
			</div>
		</div>
		<div class="panneau-central">
		  <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
			<%= yield %>
		</div>
		<div class="pied">
			<a class="liensPied" href="cgu.html">Conditions Générales de Vente</a>
			<a class="liensPied" href="quisommesnous.html">Qui sommes-nous?</a>
			<a class="liensPied" href="vieprivee.html">Vie privée</a>
			<a class="liensPied" href="credits.html">Crédits</a>
			<a class="liensPied" href="plandusite.html">Plan du site</a>
			<a class="liensPied" href="contact.html">Contact</a>
		</div>
		
		
    <!-- <div id="banner">
          <%#= image_tag("logo.png") %>
          <%#= content_for?(:title) ? yield(:title) : "Caravels" %>
        </div>  -->

    <%= yield :javascript %>
  </body>
  
</html>
